.bsod {
    background-color: #0078d7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 10%;
    font-family: 'Inter', sans-serif;
    .title {
        font-size: 20vh;
    }
    .desc,
    .timer {
        width: 60%;
        font-size: 4vh;
    }
    .desc {
        margin-top: 2vh;
    }
    .timer {
        margin-top: 4vh;
    }
}